# API
PORT=3000
JWT_SECRET=change_me
ADMIN_JWT_SECRET=change_me_admin

# PostgreSQL
DATABASE_URL=postgres://app:app123@localhost:5432/smarthome

# MQTT
MQTT_PORT=1883
MQTT_ENABLE_WS=true
MQTT_ENABLE_TCP=true
# MQTT_URL=ws://127.0.0.1:3000/mqtt

# Email (SMTP) - required for sending house code emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=HomiX <your_email@gmail.com>
